@media (max-width: 600px) {
    .project-item img {
        height: auto !important;
        min-height: 230px !important;
    }
}

@media (max-width: 440px) {
    .home .buttons {
        row-gap: 20px;
        justify-content: center;
    }

    .home .buttons a:first-child {
        margin-left: 10px;
    }

    .about .skills .skill-c-type {
        text-align: center;
    }

    .about .skills .skill-icons {
        justify-content: center;
    }

    .project-item .buttons {
        justify-content: center;
    }

    .project-footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .project-footer .techs {
        align-self: flex-start;
        margin: 10px 0px;
    }
}